

<!-- Header Section Start -->
<header id="hero-area" data-stellar-background-ratio="0.5">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="index.html" class="navbar-brand">
          <img class="img-fulid" src="assets/home/logobr.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="lnr lnr-menu"></i>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#hero-area">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#services">¿Quienes somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#features">Monedas</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="mobile-menu">
      <li>
        <a class="page-scroll" href="#hero-area">Inicio</a>
      </li>
      <li>
        <a class="page-scroll" href="#services">¿Quienes somos?</a>
      </li>
      <li>
        <a class="page-scroll" href="#features">Monedas</a>
      </li>
    </ul>
    <!-- Mobile Menu End -->

  </nav>
  <!-- Navbar End -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="contents text-center">
          <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Bienvenidos al Museo Casa de Moneda</h1>
          <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">Red cultural del banco de la republica.</p>
          <a href="/coins/museum" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">¡Visite nuestro nuevo museo virtual!</a>
        </div>
      </div>
      <div class="col-md-12">


      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->

<!-- Services Section Start -->
<div class="row">
  <div class="col-sm-12" align="center">
    <p id="notice"><%= notice %></p>
  </div>
</div>
<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">¿Quienes Somos?</h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Ubicada en el centro histórico de la ciudad</p>
    </div>
    <div class="row">
      <p>En este espacio, en donde se acuñaron las primeras monedas de oro en América en 1622, en 1961 fue abierto al público
        un primer Museo Numismático, lugar donde se exhibió por primera vez la amplia colección de billetes y monedas del
        Banco de la República.</p>
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Start Pricing Table Section -->
<div id="features" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">¿Posees un billete y deseas compartir la información con nosotros?</h2>
      <hr class="lines">
      <p class="section-subtitle">La información será verificada, y posteriormente publicada.</p>
    </div>

    <div class="row pricing-tables">
      <%= render "coins/form", coin: @coin %>
    </div>
  </div>
</div>
<!-- End Pricing Table Section -->




<!-- Footer Section Start -->
<footer>
  <div class="container">
    <div class="row">
      <!-- Footer Links -->
      <div class="col-lg-12 col-sm-12 col-xs-12" style="align: center">
        <div class="copyright">
          <p>All copyrights reserved &copy; 2018 - Designed & Developed by
            <a rel="nofollow" href="https://uideck.com">UIdeck</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
  <i class="lnr lnr-arrow-up"></i>
</a>

<!--<div id="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>-->

<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
<script>
  new WOW().init();
</script>